body {
    margin: 0;
}

.tituloprincipal {
    text-align: center;
    font-size: 50px;
    color: #ff0000;
    font-family: 'Courier New', Courier, monospace;
}


/* Estilo do cabeçalho animaçao de ficar piscando
@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.tituloprincipal {
    animation: blinking 1s infinite;
    text-align: center;
    font-size: 50px;
    color: #ff0000;
    font-family: 'Courier New', Courier, monospace;

}
*/